@use './vars';

.block-spacer {
	margin-top: calc(vars.$spacer * 5);
	margin-bottom: calc(vars.$spacer * 5);
	@media (min-width: 1440px) {
		margin-top: calc(vars.$spacer * 10);
		margin-bottom: calc(vars.$spacer * 10);
	}
}

.colorful-spacer {
	padding-top: calc(vars.$spacer * 5);
	padding-bottom: calc(vars.$spacer * 5);

	@media (min-width: 1440px) {
		padding-top: calc(vars.$spacer * 10);
		padding-bottom: calc(vars.$spacer * 10);
	}
}

.cta_button {
	display: inline-flex;
	padding-top: calc(vars.$spacer * 2);
	padding-bottom: calc(vars.$spacer * 2);
	padding-left: calc(vars.$spacer * 6);
	padding-right: calc(vars.$spacer * 6);
	border-radius: 4rem;
	color: vars.$white;
	background: linear-gradient(90deg, #ee3435 0%, #f36a21 100%);
	text-decoration: none;
}
