@use './vars';

.block-spacer {
	margin-top: calc(vars.$spacer * 6);
	margin-bottom: calc(vars.$spacer * 6);
	@media (min-width: 1440px) {
		margin-top: calc(vars.$spacer * 12);
		margin-bottom: calc(vars.$spacer * 12);
	}
}

.colorful-spacer {
	padding-top: calc(vars.$spacer * 6);
	padding-bottom: calc(vars.$spacer * 6);

	@media (min-width: 1440px) {
		padding-top: calc(vars.$spacer * 12);
		padding-bottom: calc(vars.$spacer * 12);
	}
}

.cta_button {
	display: inline-flex;
	padding-top: calc(vars.$spacer * 2);
	padding-bottom: calc(vars.$spacer * 2);
	padding-left: calc(vars.$spacer * 6);
	padding-right: calc(vars.$spacer * 6);
	border-radius: 4rem;
	color: vars.$white;
	background: linear-gradient(90deg, #ee3435 0%, #f36a21 100%);
	text-decoration: none;
	border: none;
	transition: 350ms ease;

	&:hover,
	&:active {
		background: linear-gradient(90deg, vars.$lightBrown 0%, vars.$mainBrown 100%);
		color: vars.$yellow;
	}
}

.card_label {
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: center;
}

.card {
	.card_label span {
		width: calc(vars.$spacer * 7);
		height: calc(vars.$spacer * 7);
		background: linear-gradient(90deg, #ee3435 0%, #f36a21 100%);
		display: inline-flex;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		justify-self: end;
		transition: background 300ms ease;
	}

	&:hover {
		.card_label span {
			background: linear-gradient(90deg, vars.$lightBrown 0%, vars.$mainBrown 100%);

			svg path {
				fill: vars.$yellow;
			}
		}
	}
}

.product-card {
	background: linear-gradient(180deg, #e3e0da 60%, #c2bfb8 100%);
	color: vars.$white;
	text-decoration: none;
	border-radius: calc(vars.$spacer * 3);
	padding-top: calc(vars.$spacer * 3);
}

.blog__content {
	a {
		color: vars.$orange;

		&:hover {
			text-decoration-color: vars.$lightBrown;
		}
	}
}
