@function rem-calc($size) {
	$remSize: calc($size / 16);
	@return #{$remSize}rem;
}

$mainBrown: #2a1d16;
$lightBrown: #4e3b31;
$ice: #e3e0da;
$yellow: #ffcb05;
$orange: #f36a21;
$red: #ee3435;
$black: #212529;
$white: #fff;

$gradient: linear-gradient(90deg, 0% $red, 100%, $orange);

$spacer: rem-calc(8);

$colors: (
	'mainBrown': #2a1d16,
	'lightBrown': #4e3b31,
	'ice': #e3e0da,
	'yellow': #ffcb05,
	'orange': #f36a21,
	'red': #ee3435,
	'black': #212529,
	'white': #fff,
);

@each $color, $value in $colors {
	.bg-#{$color} {
		background-color: $value;
	}

	.text-#{$color} {
		color: $value !important;
	}
}

* {
	font-family: 'Poppins', sans-serif;
}
