@use '../globals/vars';

.g-navbar {
	a {
		text-decoration: none;
	}
	ul {
		column-gap: calc(vars.$spacer * 4);
	}

	border-bottom: 1px solid vars.$ice;
}

.nav__utils {
	padding-top: calc(vars.$spacer * 2);
	padding-bottom: calc(vars.$spacer * 2);
	display: flex;
	flex-wrap: wrap;

	li,
	li a {
		color: vars.$white;
		transition: color 0.3s ease-in-out;

		&:hover {
			color: vars.$yellowLgt;
		}
	}
}

.nav__global {
	padding-top: calc(vars.$spacer * 2);
	padding-bottom: calc(vars.$spacer * 2);

	a {
		color: vars.$redDk;
		transition: color 0.3s ease-in-out;

		&:hover {
			color: vars.$redLgt;
		}
	}

	.logo {
		max-width: vars.rem-calc(305);

		@media (max-width: 576px) {
			max-width: vars.rem-calc(200);
		}
	}
}

.nav__search {
	padding: vars.$spacer;
	display: flex;
	border-radius: calc(vars.$spacer * 4);

	input,
	button {
		background-color: transparent;
		border: none;
		color: vars.$white;
	}

	input::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		color: white;
		text-align: center;
	}
	input::-moz-placeholder {
		/* Firefox 19+ */
		color: white;
		text-align: center;
	}
	input:-ms-input-placeholder {
		/* IE 10+ */
		color: white;
		text-align: center;
	}
	input:-moz-placeholder {
		/* Firefox 18- */
		color: white;
		text-align: center;
	}
	input::placeholder {
		color: white;
		text-align: center;
	}
}
