{#
/**
* Block Name: CTAs
*
* This is the template that displays the CTAs block.
*/
#}

{% if is_preview %}
	<p>
		CTAs preview
	</p>
{% endif %}

<div
	class="b-ctas block-spacer"
	style="background-image: url({{theme.path}}/static/images/cogumelo-bg-ctas.png)">
	<div
		class="container-fluid">
		{% if fields.titulo %}
			<div
				class="row align-items-center justify-content-center">
				<div
					class="col-lg-10 offset-lg-1">
					<h2
						class="text-center mb-7">
						{{fields.titulo}}
					</h2>
				</div>
			</div>
		{% endif %}

		{% if fields.intro %}
			<div
				class="row align-items-center justify-content-center">
				<div
					class="col-lg-10 offset-lg-1">
					<p
						class="text-center mb-7">
						{{fields.intro}}
					</p>
				</div>
			</div>

		{% endif %}

		<div
			class="row align-items-stretch justify-content-center ctas-wrapper">
			{% for item in fields.ctas %}
				{% include "templates/block/ctas/single-cta.twig" %}
			{% endfor %}
		</div>
	</div>

</div>
