@use '../../globals/vars' as v;

.footer {
	padding-top: 4rem;
	padding-bottom: 4rem;

	h4 {
		color: v.$white;
	}

	.menu__main {
		ul {
			flex-direction: column;
			align-items: start !important;
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				margin-bottom: rem-calc(12px);
			}
		}
	}

	p,
	a {
		font-size: 15px;
		font-weight: 200;
	}

	hr {
		background-color: v.$white;
		height: 2px;
		width: 70%;
		opacity: 0.2;
	}

	a {
		color: v.$white !important;
		text-decoration: none;
		transition: color 350ms ease;
		&:hover {
			color: v.$yellow !important;
		}
	}

	p {
		color: v.$white;
		text-decoration: none;
		transition: color 350ms ease;
	}

	.social {
		width: 40px;
		height: 40px;
		display: block;

		img {
			width: 100%;
		}
	}
}
