{% set isFrontPage = fn('is_front_page') %}

{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.post.ID}}">
			{% if isFrontPage %}
				{% include "components/hero/hero.twig" %}
			{% endif %}


			{% if not isFrontPage %}
				<div class="container-fluid block-spacer">
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<h1>
								{{post.title}}
							</h1>
						</div>
					</div>
				</div>
			{% endif %}

			<section class="article-content">
				{{post.content}}
			</section>
		</article>
	</div>

{% endblock %}
