{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends 'base.twig' %}

{% block content %}
	{# see `base.twig:27` for where this block's content will be inserted #}
	<div
		class="container">
		<div
			class="row">
			<div
				class="col-lg-10 offset-lg-2">
				<h1
					class="my-5">
					{{ search_results }}
				</h1>
			</div>
		</div>

		<div
			class="row search_cards">
			{% for post in posts %}
				<div
					class="col-lg-8 offset-lg-2 mb-3">
					{% include ['tease-search.twig'] %}
				</div>
			{% endfor %}
		</div>

		{% include 'partial/pagination.twig' with {
      pagination: posts.pagination({
        show_all: false,
        mid_size: 3,
        end_size: 2
      })
    } %}
	</div>
{% endblock %}
