{% extends 'base.twig' %}

{% block content %}
	<div
		class="mt-8 mb-5">
		{% include "/components/store/store-intro.twig" %}
	</div>

	<div
		class="container-fluid">

		<div
			class="loop row">
			{% for post in products %}
				{% include ["views/woo/tease-product.twig"] %}
			{% endfor %}
		</div>
	</div>

	{% do action('woocommerce_after_shop_loop') %}
	{% do action('woocommerce_after_main_content') %}

{% endblock %}
