{% set id = random() %}

{% if is_preview %}

	<h1>
		Bloco: Carrossel de Produtos
	</h1>

{% endif %}

<section
	class="b-products-carousel block-spacer">
	<div
		class="container-fluid">
		{% if fields.titulo is not empty %}
			<div
				class="row">
				<div
					class="col-lg-12 d-flex align-items-center justify-content-center">
					<h2
						class="mb-7">
						{{fields.titulo}}
					</h2>
				</div>
			</div>
		{% endif %}

		{% if fields.intro %}

			<div
				class="row d-flex align-items-center justify-content-center">
				<div
					class="col-lg-12">
					<p
						class="text-center mb-7">
						{{fields.intro}}
					</p>
				</div>
			</div>
		{% endif %}

		{% if fields.lista_de_produtos is not empty %}

			<div
				class="row">
				<div
					class="col-12">
					<section
						class="splide"
						aria-label="Splide Basic HTML Example">
						<div
							class="splide__track">
							<ul
								class="splide__list">
								{% for item in fields.lista_de_produtos %}
									<li
										class="splide__slide">
										{% include "block/products-carousel/carousel-item.twig" %}
									</li>
								{% endfor %}
							</ul>
						</div>
					</section>
				</div>
			</div>
		{% endif %}
	</div>
</section>
