@use '../globals/utils';
@use '../globals/vars';

a.button.wc-forward {
	@extend .cta_button;
}

.woocommerce-cart-form,
.cart-collaterals {
	a:not(.checkout-button) {
		color: vars.$mainBrown;
	}
	button.button {
		@extend .cta_button;
	}
}

.coupon,
.woocommerce #content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon {
	display: flex;
	width: 100%;
	margin-bottom: 1rem;
	.input-text {
		width: fit-content;
	}

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 1rem;

		.input-text,
		button {
			width: 100% !important;
		}
	}
}

.woocommerce-message,
.woocommerce-info {
	border-top-color: vars.$orange;
	background-color: vars.$ice;

	&::before {
		color: vars.$orange;
	}

	a {
		color: vars.$mainBrown;
	}
}
