@use '../globals/vars';
@use '../globals/utils';
@use 'sass:color';

.woocommerce-cart {
	a.checkout-button.button.alt.wc-forward {
		background-color: vars.$redDk !important;
		color: vars.$yellowMd !important;

		&:hover,
		&:focus {
			background-color: vars.$yellowMd;
			color: vars.$redDk;
		}
	}

	#payment {
		background: vars.$yellowLgt;

		.woocommerce-privacy-policy-link {
			color: vars.$redDk;
		}
		.button {
			@extend .cta_button;
		}

		div.payment_box {
			background: color.adjust(vars.$yellowLgt, $lightness: -10%);

			&::before {
				border-bottom-color: color.adjust(vars.$yellowLgt, $lightness: -10%);
			}
		}
	}
}
