@use '../globals/utils';
@use '../globals/vars';

.woocommerce {
	.button {
		@extend .cta_button;
	}

	a {
		color: vars.$mainBrown;
	}
}

.woocommerce-MyAccount-navigation {
	ul {
		list-style-type: none;
		li {
			padding: 20px;
			border: 1px solid vars.$lightBrown;
			border-radius: 20px;
			margin-bottom: vars.$spacer;

			a {
				&:hover,
				&:active {
					color: vars.$mainBrown;
					text-decoration: none;
				}
			}
		}
	}
}
